@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');


.container{
    background-image: url(../../img/porte.png);
    background-color: #1F1E1E;
    background-size: 100vw 100vh;
   
    height: 100vh; 
    display: flex;
    justify-content:space-around;
    align-items: center; 
    font-family: 'Almendra SC', serif;

} 

.filterBox{
    height: 85vh;
    width: 45vw;
    background: rgba(24, 24, 24, 0.7);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center;
    
}


.greenBtn{
    position: relative;
    background-color: #9A5E2E;
    height: 2.8rem;
    width: 12rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;    
}

.greenBtn a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.lightGreen{
    position: absolute;
    top:-4px;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: #B6713A;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 2rem;
}