@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');



.container{
    background-image: url('../../img/scribe.png');
    background-size: 100vw 100vh;
    background-repeat: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:space-around;
    align-items: center; 
    font-family: 'Almendra SC', serif;
} 
 
.filterBox{
    height: 85vh;
    width: 45vw;
    background: rgba(24, 24, 24, 0.7);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}


.formInscription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputInscription{
    background: #E4E7E0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 3.2rem;
    width: 22rem;
    margin:1.2rem;
    text-align: center;
    font-size: 1.1rem;
}

.inputInscription:focus{
    outline: none;
}


label{
    color:white;
    font-size: 3rem;
    margin: 1.5rem;
}

.btnBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.redBtn{
    position: relative;
    background-color: #dd7d77;
    height: 2.8rem;
    width: 12rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.redBtn a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.lightRed{
    position: absolute;
    top:-4px;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: #D05858;
    display: flex;
    justify-content: center;
    align-items: center;
}


.greenBtn{
    position: relative;
    background-color: #d4ff98;
    height: 2.8rem;
    width: 12rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;    
}

.greenBtn a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.lightGreen{
    position: absolute;
    top:-4px;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: #9DD058;
    display: flex;
    justify-content: center;
    align-items: center;
}