@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');

.navbar{
    font-family: 'Almendra SC', serif;
    background-color: #1F1E1E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 2rem;
}

.navbar button{
    font-size: 1.2rem;
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.navbar li{
    list-style: none;
}

.img{
    height: 25px;
    width: 25px;
}

#btnb{
    color: red !important;
}