@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');




.navbar{
    width: 100vw;
    height:6vh;
    border-bottom: solid white 0.1px;
    color:white;
    font-family: 'Almendra SC', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F1E1E;
    
    
}

.link{
    margin-right:5rem;
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

h1{
   margin-left: 2rem;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    
}