.container{
    background-image: url(../../img/Barde.png) ;
    background-color: #1F1E1E;
    background-size: 100vw 100vh;
   
    height: 100vh; 
    display: flex;
    justify-content:space-around;
    align-items: center; 
    font-family: 'Almendra SC', serif;
    flex-direction: column;

} 


.containerButton{
    display: flex;
    justify-content:space-around;
    align-items: center; 
 
}

.Button{
    margin: 50px;

}


.Button h1{
    color: white;
    font-size: 4rem;
    text-shadow: -3px 0 rgb(0, 0, 0), 0 3px rgb(0, 0, 0), 3px 0 rgb(0, 0, 0), 0 -3px rgb(0, 0, 0)
}

.pLecteur{
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    background-color: #1f1e1eb4;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
}
    


.containerLecteur{
    margin-top: -30%;
    display: flex;
    justify-content:space-around;
    align-items: center; 
    flex-direction: column;
}
